%h1.page-header Hosts

%table.table.table-striped.table-bordered
  %tr
    %th IP
    %th Host
    %th State
    %th Uptime
    %th Date
  - @hosts.each do |host|
    %tr
      %td
        %a{ :href => "/details?ip=#{host[:ip]}" }= host[:ip]
      %td= host[:host]
      %td
        - if 'ok' == host[:status]
          %span{ :class => "label label-success" } OK
        - elsif 'fail' == host[:status]
          %span{ :class => "label label-important" } FAIL
        - else
          &nbsp;
      %td= "#{host[:uptime]}%"
      %td= host[:time]
